.well
  .inner
    .head
      span.left
        h2
          |offers
      span.right.createButton
        button.btn.btn-primary.create(href="#") Create
    .list
      each offer in offers.models
        .item(data-id="#{offer.attributes.url_token}")
          .info.left
            img(src="public/img/60.gif",alt='photo')
            p.inf= offer.get_fullname()
              br
              | #{offer.get_friendly_time()}
           .offer.left
              .titlehd
                if $.cookie('current_user') == offer.attributes.member_id
                  .right.deleteButton
                    button.close ×
                .title
                  a(href="#activities/offer/#{offer.attributes.url_token}") #{offer.attributes.title}
              .content
                p.inf #{offer.attributes.description}
    //.add
      span.right
        a.more(href="#") More...
