.well
  .inner
    .head
      span.left
        h2
          |offers
      span.right.createButton
        button.btn.btn-primary.create(href="#") Create
    .list
      each offer in offers.models
        .item
          .info.left
            img(src="public/img/60.gif",alt='photo')
            p.inf= offer.attributes.url_token
              br
              | #{offer.get_friendly_time()}
           .offer.left
              .titlehd
                .title.left
                  a(href="#activities/offer/#{offer.attributes.url_token}") #{offer.attributes.title}
                if $.cookie('current_user') == offer.attributes.url_token
                  .right.deleteButton
                    button.close x
              .content
                p.inf #{offer.attributes.description}
    .add
      span.right
        a.more(href="") More...
